/* ==========================================================================
   Mission Section Styles
   ========================================================================== */
   #mission-section{
	position: relative;

	/* defining an aspect ratio for the section*/
	/* width: 100%;

	min-height: min(100vh, 600px); */
	
	/* 2 Layer background for the tint effect */
	background: 
		linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
		url('../../assets/photorealistic-view-cows-grazing-nature-outdoors.jpg') center/cover no-repeat;	

	/* Using CSS grids for placement of items */
/* 	display: grid;
	place-items: center;
	
	padding: clamp(1rem, 5vh, 3rem) clamp(1rem, 5vw, 3rem); */

	/*Enables GPU acceleration */
	will-change: transform;
	backface-visibility: hidden;	

	/*Text color for the entire section*/
	color: var(--text-light);

	overflow: hidden;
}

.mission-content{
	width: min(90%,var(--container-width));
	height: fit-content;
	max-width: 65ch;
	margin-inline: auto;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.mission-content p{
	max-width: 65ch;
	margin: 0 auto;
	font-size: clamp(1.125rem, calc(1rem + 0.5vw), 1.5rem);
	line-height: clamp(1.6, calc(1.6em + 0.2vw), 1.8);
	padding-bottom: 5%;
}